
<html>
<head>
	<title>DB Viewer</title>

	<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> -->
	<link rel="stylesheet" href="bootstrap.min.css">

	<script type="text/javascript" src="angular.js"></script>
	<script type="text/javascript" src="angular-route.js"></script>
	<script type="text/javascript" src="ui-bootstrap-tpls-0.12.1.js"></script>
    <script type="text/javascript" src="rbush.js"></script>


	<script type="text/javascript" src="cubeApp.js"></script>
	<script type="text/javascript" src="cubeAppUML.js"></script>
	<link rel="stylesheet" href="cubeApp.css">

</head>
<body ng-app="cubeApp" onscroll="scrollHeader()" ng-controller="baseController">
	


	<div class="header-wrap">
		<h1> DB Viewer </h1>

		<div ng-controller="modelListController" style="margin-left:10;">
			<ul class="nav nav-tabs">{{activeModel.modelName}}
				<li ng-repeat="model in models" >
					<a href="#" ng-click="chooseModel(model)" >{{model.modelName}}</a>
				</li>
				<li> <a href="#" ng-click="addModel.showAddModelWindow = true;">+</a></li>
			</ul>
			<div ng-show="addModel.showAddModelWindow" class="popupPane">
				<table class="table">
					<tr><td>Model Name</td><td><input type="text" ng-model="addModel.modelName"></td></tr>
					<tr><td>Jar file</td><td><input type="file" ng-model="addModel.jarFile"></td></tr>
				</table>
				<button ng-click="addModel.showAddModelWindow = false;">Close</button>
			</div> 
		</div>


	</div>
	<div class="header-background"></div>

	

	<div ng-controller="historyController" class="container col-sm-10" />
		
		<div class="menu-wrap" watch-size=".historyLine:left:180,.actionBar:left:30,.container:margin-left:20">
			<div ng-controller="tableListController" ng-show="activeModel().modelName != undefined" class="tableBar" >
				<table class="table">
					<tr> <td> <a href="#" ng-click="openUMLMap(activeModel())" ><b> Global Map and links </b></a></td></tr>
					<tr ng-repeat="objectClass in activeModel().classes">
						<td> 
							<a href="#" ng-click="chooseClass(objectClass)" >{{objectClass.simpleName}}</a>					
										
						</td>
					</tr>
				</table>

			</div>
		</div>
		
		<div class="historyLine" left-bind="{{menuwrapsize}}">
			<span  >
				<!--span class="historyBlock" >{{historyData.title}} </span>
				<canvas style="vertical-align:text-bottom" height="16" width="20" drawing="{{$last}}" color="#ccc">  </canvas-->		
				<canvas	ng-repeat="(historyIndex, historyData) in historyView" 
				ng-click="gotoHistory(historyIndex)" style="cursor:pointer"
				drawing="{{$last}}" color="#9AB" font-size="15" font-color="white" font-familly="Arial" text="{{historyData.title}}"/>	
			</span>
		</div>


		<div ng-controller="displayController">
			<div class="slide-animate-container">
				<div ng-repeat="(historyIndex, historyData) in historyView" class="slide-animate" ng-include="historyData.viewTemplate"
					ng-show="historyIndex == activeHistoryViewIndex"
				>					
				</div>
			</div>

		</div>

	</div>

	
	<div class="popupPane" ng-show="error.show"> 
		<div><h3>{{error.title}}</h3></div>
		<hr color="blue"/>
		<div ><h5><i>{{error.content}}</i></h5></div>
		<div>
			<button class="btn btn-danger" ng-click="error.show=false;">Close</button>
		</div>
	</div>

</body>
</html>